@charset "utf-8";
button,input,select,textarea {font-family:inherit; font-size:100%;}
body {margin:0.5%;}
header {background-color:gray; color:white; padding-left:0.5em;}
footer {background-color:gray; color:white; padding-left:0.5em;}

section {margin:0.5em;}
h1 {font-size:1.5em; margin:0;}
h1>a {color:white;}
h2 {background-color:lightgray; color:white; font-size:1.25em; margin:0; padding-left:1em;}
h2>a {color:white;}
.inline {display: inline-block;}

.editor {width:99.5%;}
#mml-editor {height:10em; font-family:monospace, serif;}
#track-view {position:relative; height:1.5em;}
#track-editor {position:absolute; top:0; left:0; height:1em; font-family:monospace, serif; opacity:0.8;}
#track-editor-caret {position:absolute; top:0; left:0; background-color:blue; width:0.5em; height:1em; margin:1px 0px 1px 3px; padding:2px 0px 2px 0px; font-family:monospace, serif;}
#audio-tempo {width: 3em;}

#keyboard-view {margin:0.5em}
#keyboard {width:30em; float:left;}
#control {height:8em;}
.key-sharp {background-color:black; color:white;}
.key-scale {background-color:white; color:black;}
.key-down {background-color:lightpink; color:black;}
#key-c {margin-left:1em;}
#key-fs {margin-left:2em;}
#key-del {display: block;}
#key-bs {display: block;}
#key-enter {display: block;}
